.text-warning {
    color: #ffc107;
}

td mat-icon {
    vertical-align: middle;
    margin-right: 8px;
}

.mat-column-waitlist {
    min-width: 120px;
}

.waitlist-row {
    background-color: rgba(255, 235, 59, 0.2) !important; // light yellow
    
    &:hover {
        background-color: rgba(255, 235, 59, 0.3) !important;
    }
}

// To maintain striping with Material table
.mat-mdc-row:nth-child(even).waitlist-row {
    background-color: rgba(255, 235, 59, 0.3) !important;
}

.snackbar-error {
  background-color: #d32f2f !important; /* Material Red 700 */
  color: white !important;
}

.snackbar-success {
  background-color: #388e3c !important; /* Material Green 700 */
  color: white !important;
}

.snackbar-warning {
  background-color: #fbc02d !important; /* Material Yellow 700 */
  color: black !important;
}

.snackbar-info {
  background-color: #1976d2 !important; /* Material Blue 700 */
  color: white !important;
}

.busy-date {
  background-color: rgba(255, 0, 0, 0.1) !important;
  border-radius: 100%;

  &:hover {
    background-color: rgba(255, 0, 0, 0.2) !important;
  }
}


  // ::ng-deep .custom-highlight > .mat-calendar-body-cell-content {
  //   background-color: #ffc107 !important;
  //   color: black !important;
  //   border-radius: 50%;
  // }

