<div class="container">
    <div class="row  pt-5">
        <H1>
            Welcome to Lacasa Booking System
        </H1>

        <br />
        <hr />
        <h2>
            Hello,
        </h2>
        <h4>
            Welocme to Lacasa booking system, please check below calander to see the avaibility, you can wait list the
            booked dates, so you will be notified whenever the primary requestor cancels.
        </h4>
        <hr />
    </div>



    <div class="row">
        <p>
            Please select the range that you which to book Lacasa, and we will notify you if the dates are.
        </p>
        <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <hr />
    </div>
    Booked Dates:
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Wait list</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let bookedItem of bookingHistory">
                    <td> {{bookedItem.id}}</td>
                    <td> {{bookedItem.title}}</td>
                    <td> {{bookedItem.from| date:'longDate' }}</td>
                    <td> {{bookedItem.to | date:'longDate'}}</td>

                    <td> {{bookedItem.guests[0].fullName}} </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />

</div>